In [17]:
import pandas as pd

In [18]:
# Convertendo dados para csv
df = pd.read_excel('dados/Bitcoin_07_09_2023-06_09_2024_historical_data_coinmarketcap.xlsx')
df.to_csv('dados/Bitcoin_1Y.csv', index=False)
df

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp
0,2024-09-05T00:00:00.000Z,2024-09-05T23:59:59.999Z,2024-09-05T00:30:00.000Z,2024-09-05T21:36:00.000Z,2781,579717033213181,583005810225774,557124540885557,561604872644568,3.103028e+10,1.109173e+12,2024-09-05T23:59:59.999Z
1,2024-09-04T00:00:00.000Z,2024-09-04T23:59:59.999Z,2024-09-04T16:39:00.000Z,2024-09-04T01:06:00.000Z,2781,574303485733917,585115693214577,55673162833355,579715408166853,3.562768e+10,1.144922e+12,2024-09-04T23:59:59.999Z
2,2024-09-03T00:00:00.000Z,2024-09-03T23:59:59.999Z,2024-09-03T02:16:00.000Z,2024-09-03T23:59:00.000Z,2781,591061912871102,59815056946191,574251673117413,574310229886572,2.666696e+10,1.134204e+12,2024-09-03T23:59:59.999Z
3,2024-09-02T00:00:00.000Z,2024-09-02T23:59:59.999Z,2024-09-02T23:02:00.000Z,2024-09-02T00:53:00.000Z,2781,57326967287785,594030697934676,571360264168139,591124795055389,2.703645e+10,1.167274e+12,2024-09-02T23:59:59.999Z
4,2024-09-01T00:00:00.000Z,2024-09-01T23:59:59.999Z,2024-09-01T00:17:00.000Z,2024-09-01T23:19:00.000Z,2781,589697994536059,590620708116667,572178238628753,573254876891906,2.459245e+10,1.132107e+12,2024-09-01T23:59:59.999Z
...,...,...,...,...,...,...,...,...,...,...,...,...
359,2023-09-12T00:00:00.000Z,2023-09-12T23:59:59.999Z,2023-09-12T16:31:00.000Z,2023-09-12T01:40:00.000Z,2781,251606579251895,264519384975375,251330789086915,258333430604915,1.865728e+10,5.033280e+11,2023-09-12T23:59:59.999Z
360,2023-09-11T00:00:00.000Z,2023-09-11T23:59:59.999Z,2023-09-11T06:00:00.000Z,2023-09-11T20:02:00.000Z,2781,258317155007322,258839470027172,249302974941684,251626552722476,1.460001e+10,4.902380e+11,2023-09-11T23:59:59.999Z
361,2023-09-10T00:00:00.000Z,2023-09-10T23:59:59.999Z,2023-09-10T22:34:00.000Z,2023-09-10T19:41:00.000Z,2781,258952099714338,259781301676244,256402617077209,258322262469114,7.899553e+09,5.032584e+11,2023-09-10T23:59:59.999Z
362,2023-09-09T00:00:00.000Z,2023-09-09T23:59:59.999Z,2023-09-09T16:33:00.000Z,2023-09-09T13:43:00.000Z,2781,259054249124824,25921976226367,258104950896881,258956782209584,5.481314e+09,5.044705e+11,2023-09-09T23:59:59.999Z
363,2023-09-08T00:00:00.000Z,2023-09-08T23:59:59.999Z,2023-09-08T00:58:00.000Z,2023-09-08T10:07:00.000Z,2781,262452082080784,26414005974773,256774795806905,259056537515133,1.081736e+10,5.046405e+11,2023-09-08T23:59:59.999Z

In [19]:
# Verificando o tipo de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timeOpen   364 non-null    object
 1   timeClose  364 non-null    object
 2   timeHigh   364 non-null    object
 3   timeLow    364 non-null    object
 4   name       364 non-null    int64
 5   open       364 non-null    int64
 6   high       364 non-null    int64
 7   low        364 non-null    int64
 8   close      364 non-null    int64
 9   volume     364 non-null    float64
 10  marketCap  364 non-null    float64
 11  timestamp  364 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 34.3+ KB

In [20]:
# Normalizando valores inteiros para os preços
for col in df.select_dtypes(include=['int64']).columns:
    df[col] = df[col] // 10**10  # Dividindo por 10^10 e descartando os últimos 10 dígitos

df

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp
0,2024-09-05T00:00:00.000Z,2024-09-05T23:59:59.999Z,2024-09-05T00:30:00.000Z,2024-09-05T21:36:00.000Z,0,57971,58300,55712,56160,3.103028e+10,1.109173e+12,2024-09-05T23:59:59.999Z
1,2024-09-04T00:00:00.000Z,2024-09-04T23:59:59.999Z,2024-09-04T16:39:00.000Z,2024-09-04T01:06:00.000Z,0,57430,58511,5567,57971,3.562768e+10,1.144922e+12,2024-09-04T23:59:59.999Z
2,2024-09-03T00:00:00.000Z,2024-09-03T23:59:59.999Z,2024-09-03T02:16:00.000Z,2024-09-03T23:59:00.000Z,0,59106,5981,57425,57431,2.666696e+10,1.134204e+12,2024-09-03T23:59:59.999Z
3,2024-09-02T00:00:00.000Z,2024-09-02T23:59:59.999Z,2024-09-02T23:02:00.000Z,2024-09-02T00:53:00.000Z,0,5732,59403,57136,59112,2.703645e+10,1.167274e+12,2024-09-02T23:59:59.999Z
4,2024-09-01T00:00:00.000Z,2024-09-01T23:59:59.999Z,2024-09-01T00:17:00.000Z,2024-09-01T23:19:00.000Z,0,58969,59062,57217,57325,2.459245e+10,1.132107e+12,2024-09-01T23:59:59.999Z
...,...,...,...,...,...,...,...,...,...,...,...,...
359,2023-09-12T00:00:00.000Z,2023-09-12T23:59:59.999Z,2023-09-12T16:31:00.000Z,2023-09-12T01:40:00.000Z,0,25160,26451,25133,25833,1.865728e+10,5.033280e+11,2023-09-12T23:59:59.999Z
360,2023-09-11T00:00:00.000Z,2023-09-11T23:59:59.999Z,2023-09-11T06:00:00.000Z,2023-09-11T20:02:00.000Z,0,25831,25883,24930,25162,1.460001e+10,4.902380e+11,2023-09-11T23:59:59.999Z
361,2023-09-10T00:00:00.000Z,2023-09-10T23:59:59.999Z,2023-09-10T22:34:00.000Z,2023-09-10T19:41:00.000Z,0,25895,25978,25640,25832,7.899553e+09,5.032584e+11,2023-09-10T23:59:59.999Z
362,2023-09-09T00:00:00.000Z,2023-09-09T23:59:59.999Z,2023-09-09T16:33:00.000Z,2023-09-09T13:43:00.000Z,0,25905,2592,25810,25895,5.481314e+09,5.044705e+11,2023-09-09T23:59:59.999Z
363,2023-09-08T00:00:00.000Z,2023-09-08T23:59:59.999Z,2023-09-08T00:58:00.000Z,2023-09-08T10:07:00.000Z,0,26245,2641,25677,25905,1.081736e+10,5.046405e+11,2023-09-08T23:59:59.999Z

In [21]:
# Verificar número de dados da coluna 'open'
df['open'].value_counts()

open
60793    2
67911    2
43728    2
69392    2
43948    1
        ..
63162    1
62332    1
61191    1
63055    1
26245    1
Name: count, Length: 360, dtype: int64

In [22]:
# Função para multiplicar por 10 os valores menores que 10 mil
for col in df.select_dtypes(include=['int64']).columns:
    df[col] = df[col].apply(lambda x: x * 10 if x < 10000 else x)


df.to_csv('dados/Bitcoin_1Y_Normalizado.csv', index=False)
df

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp
0,2024-09-05T00:00:00.000Z,2024-09-05T23:59:59.999Z,2024-09-05T00:30:00.000Z,2024-09-05T21:36:00.000Z,0,57971,58300,55712,56160,3.103028e+10,1.109173e+12,2024-09-05T23:59:59.999Z
1,2024-09-04T00:00:00.000Z,2024-09-04T23:59:59.999Z,2024-09-04T16:39:00.000Z,2024-09-04T01:06:00.000Z,0,57430,58511,55670,57971,3.562768e+10,1.144922e+12,2024-09-04T23:59:59.999Z
2,2024-09-03T00:00:00.000Z,2024-09-03T23:59:59.999Z,2024-09-03T02:16:00.000Z,2024-09-03T23:59:00.000Z,0,59106,59810,57425,57431,2.666696e+10,1.134204e+12,2024-09-03T23:59:59.999Z
3,2024-09-02T00:00:00.000Z,2024-09-02T23:59:59.999Z,2024-09-02T23:02:00.000Z,2024-09-02T00:53:00.000Z,0,57320,59403,57136,59112,2.703645e+10,1.167274e+12,2024-09-02T23:59:59.999Z
4,2024-09-01T00:00:00.000Z,2024-09-01T23:59:59.999Z,2024-09-01T00:17:00.000Z,2024-09-01T23:19:00.000Z,0,58969,59062,57217,57325,2.459245e+10,1.132107e+12,2024-09-01T23:59:59.999Z
...,...,...,...,...,...,...,...,...,...,...,...,...
359,2023-09-12T00:00:00.000Z,2023-09-12T23:59:59.999Z,2023-09-12T16:31:00.000Z,2023-09-12T01:40:00.000Z,0,25160,26451,25133,25833,1.865728e+10,5.033280e+11,2023-09-12T23:59:59.999Z
360,2023-09-11T00:00:00.000Z,2023-09-11T23:59:59.999Z,2023-09-11T06:00:00.000Z,2023-09-11T20:02:00.000Z,0,25831,25883,24930,25162,1.460001e+10,4.902380e+11,2023-09-11T23:59:59.999Z
361,2023-09-10T00:00:00.000Z,2023-09-10T23:59:59.999Z,2023-09-10T22:34:00.000Z,2023-09-10T19:41:00.000Z,0,25895,25978,25640,25832,7.899553e+09,5.032584e+11,2023-09-10T23:59:59.999Z
362,2023-09-09T00:00:00.000Z,2023-09-09T23:59:59.999Z,2023-09-09T16:33:00.000Z,2023-09-09T13:43:00.000Z,0,25905,25920,25810,25895,5.481314e+09,5.044705e+11,2023-09-09T23:59:59.999Z
363,2023-09-08T00:00:00.000Z,2023-09-08T23:59:59.999Z,2023-09-08T00:58:00.000Z,2023-09-08T10:07:00.000Z,0,26245,26410,25677,25905,1.081736e+10,5.046405e+11,2023-09-08T23:59:59.999Z

In [23]:
# Convertendo a coluna 'date' para datetime
df['timeOpen'] = pd.to_datetime(df['timeOpen'])
df['timeClose'] = pd.to_datetime(df['timeClose'])
df['timeHigh'] = pd.to_datetime(df['timeHigh'])
df['timeLow'] = pd.to_datetime(df['timeLow'])
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Ordem cronológica pela coluna 'timestamp'
df = df.sort_values(by='timestamp')

df

,timeOpen,timeClose,timeHigh,timeLow,name,open,high,low,close,volume,marketCap,timestamp
363,2023-09-08 00:00:00+00:00,2023-09-08 23:59:59.999000+00:00,2023-09-08 00:58:00+00:00,2023-09-08 10:07:00+00:00,0,26245,26410,25677,25905,1.081736e+10,5.046405e+11,2023-09-08 23:59:59.999000+00:00
362,2023-09-09 00:00:00+00:00,2023-09-09 23:59:59.999000+00:00,2023-09-09 16:33:00+00:00,2023-09-09 13:43:00+00:00,0,25905,25920,25810,25895,5.481314e+09,5.044705e+11,2023-09-09 23:59:59.999000+00:00
361,2023-09-10 00:00:00+00:00,2023-09-10 23:59:59.999000+00:00,2023-09-10 22:34:00+00:00,2023-09-10 19:41:00+00:00,0,25895,25978,25640,25832,7.899553e+09,5.032584e+11,2023-09-10 23:59:59.999000+00:00
360,2023-09-11 00:00:00+00:00,2023-09-11 23:59:59.999000+00:00,2023-09-11 06:00:00+00:00,2023-09-11 20:02:00+00:00,0,25831,25883,24930,25162,1.460001e+10,4.902380e+11,2023-09-11 23:59:59.999000+00:00
359,2023-09-12 00:00:00+00:00,2023-09-12 23:59:59.999000+00:00,2023-09-12 16:31:00+00:00,2023-09-12 01:40:00+00:00,0,25160,26451,25133,25833,1.865728e+10,5.033280e+11,2023-09-12 23:59:59.999000+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
4,2024-09-01 00:00:00+00:00,2024-09-01 23:59:59.999000+00:00,2024-09-01 00:17:00+00:00,2024-09-01 23:19:00+00:00,0,58969,59062,57217,57325,2.459245e+10,1.132107e+12,2024-09-01 23:59:59.999000+00:00
3,2024-09-02 00:00:00+00:00,2024-09-02 23:59:59.999000+00:00,2024-09-02 23:02:00+00:00,2024-09-02 00:53:00+00:00,0,57320,59403,57136,59112,2.703645e+10,1.167274e+12,2024-09-02 23:59:59.999000+00:00
2,2024-09-03 00:00:00+00:00,2024-09-03 23:59:59.999000+00:00,2024-09-03 02:16:00+00:00,2024-09-03 23:59:00+00:00,0,59106,59810,57425,57431,2.666696e+10,1.134204e+12,2024-09-03 23:59:59.999000+00:00
1,2024-09-04 00:00:00+00:00,2024-09-04 23:59:59.999000+00:00,2024-09-04 16:39:00+00:00,2024-09-04 01:06:00+00:00,0,57430,58511,55670,57971,3.562768e+10,1.144922e+12,2024-09-04 23:59:59.999000+00:00
0,2024-09-05 00:00:00+00:00,2024-09-05 23:59:59.999000+00:00,2024-09-05 00:30:00+00:00,2024-09-05 21:36:00+00:00,0,57971,58300,55712,56160,3.103028e+10,1.109173e+12,2024-09-05 23:59:59.999000+00:00